body{
    font-family: 'Poppins', sans-serif;
}
.comon-color{
    color: #657980!important;
}
.margin-top-130{
    margin-top: 130px;
}
.margin-top-200{
    margin-top: 200px;
}
.margin-top-100{
    margin-top: 100px;
}
.my-btn-color{
    background-color: #f5bf2a;
    font-weight: 500;
}
.my-text-color{
    color: darkslateblue;
}
.star-color{
    color: #FBBF24;
}

/* responsive */

@media (max-width: 576px) { 

    .discover-text .course-list .text-img{
        flex-direction: column;
        text-align: center;
    }

    .discover-text .course-list .text-img img{
        margin-bottom: 20px;
    }
    .success-full .success-text .width{
        width: 100% !important;
        text-align: center;
    }
    .success-full .card{
        width: 100%!important;
    }
    .companies{
        display: none;
    }
 }

 @media (max-width: 992px) { 
.success-full .success-text .width{
        width: 80% !important;
        text-align: left;
    }
    .success-full .responsive{
        text-align: center;
    }
    .success-full .card{
        width: 100%!important;
    }
    .companies{
        display: none;
    }
  }
  @media (max-width: 1200px) { 
        
   }